#body {
    margin-bottom: 80px;
    margin-top: 80px;
}

.card {
    transition: transform ease-in-out;
    -webkit-transition: -webkit-transform .8s ease-in-out;
}

.card:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
}