#body {
    margin-bottom: 80px;
    margin-top: 80px;
}

.card {
    transition: transform ease-in-out;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    height: 500px;
    width: 400px;
    cursor: pointer;
    box-shadow: 0px 20px 20px grey;
}

.card>img {
    width: 95%;
    height: 60%;
    margin: 2.5% 0 0 2.5%;
}

.card:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
}

.card-row {
    /* display: flex;
    justify-content: center; */
}